<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Search</a>
        <a href="/account">Account</a>
        <a href="/contribute">Contribute</a>
        <a href="https://lithicsoft.github.io/neutron">About</a>
    </div>
    <div class="logo">Neutron</div>

    <div class="center">
        <div class="background_form"><br>
            <form action="/account/login" method="POST">
                <input type="text" name="username" placeholder="Username"/><br><br>

                <input type="password" name="password" placeholder="Password"/><br><br>

                <button type="submit" name="login_button" value="login_clicked">Login</button><br>
            </form>

            <form action="/account/register" method="GET">
                <button type="submit">Register</button><br><br>
            </form>
        </div><br><br>
        <div class="result"> {{ message }} </div>
    </div>
    
    <script src="/result.js"></script>
</body>