<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <div>
            <img style="float: left;" src="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4" width="50" height="50">
            <a style="color: rgb(0, 0, 0); font-size: larger;" href="/">Lithicsoft Neutron</a>
        </div>
        <a style="float: right;" href="/account">{{ User }}</a>
    </div>

    <div class="center">
        <div class="background_form"><br>
            <form action="/account/login" method="POST">
                <input type="text" name="username" placeholder="Username"/><br><br>

                <input type="password" name="password" placeholder="Password"/><br><br>

                <button type="submit" name="login_button" value="login_clicked">Login</button><br>
            </form>

            <form action="/account/register" method="GET">
                <button type="submit">Register</button><br><br>
            </form>
        </div><br><br>
        <div class="result"> {{ message }} </div>
    </div>
    
    <script src="/result.js"></script>
</body>
<br><br><br>
<footer>
    <p style="float: right;">&copy; 2024 Lithicsoft Organization&nbsp;</p>
    <p style="float: left;">
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron/touap/" target="_blank">Policy & Terms of Use</a> and <a href="https://lithicsoft.github.io/neutron/pp/" target="_blank">Privacy Policy</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/contribute" target="_blank">Contribute</a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron" target="_blank">About</a>
    </p>
</footer>