<head>
    <title>Neutron Search</title>
</head>
<body>
    <ul>
        <li><a href="https://lithicsoft.github.io/neutron">About</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/account">Account</a></li>
    </ul>

    <h1><a href="/"> Neutron Search </a></h1>

    <h1> Hello, {{ username }}! </h1>

    <form action="/account/me" method="POST">
        <label>Old password: </label>
        <input type="password" name="oldpassword"/><br>

        <label>New password: </label>
        <input type="password" name="newpassword"/><br>

        <button type="submit" name="login_button" value="login_clicked">Change my password</button><br>
    </form>

    <form action="/account/me/logout" method="POST">
        <button type="submit" name="logout_button" value="logout_clicked">Logout</button>
    </form>

</body>