<head>
    <title>Neutron Search</title>
</head>
<body>
    <ul>
        <li><a href="https://lithicsoft.github.io/neutron">About</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/account">Account</a></li>
    </ul>

    <a href="/"><img src="https://i.imgur.com/lvUj8X0.png"></a>

    <h1> Hello, {{ username }}! </h1>

    <form action="/account/me" method="POST">
        <label>Old password: </label>
        <input type="password" name="oldpassword"/><br>

        <label>New password: </label>
        <input type="password" name="newpassword"/><br>

        <label>Username: </label>
        <input type="text" name="username"/><br>

        <button type="submit" name="change_button" value="change_clicked">Change my password</button><br>
    </form>

    {{ message }}

    <form action="/account/me/logout" method="POST">
        <button type="submit" name="logout_button" value="logout_clicked">Logout</button>
    </form>

</body>