<head>
    <title>Neutron Search</title>
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4">
    <link rel="stylesheet" href="/search.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="topnav">
        <div>
            <img style="float: left;" src="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4" width="50" height="50">
            <a style="color: rgb(0, 0, 0); font-size: larger;" href="/">Lithicsoft Neutron</a>
        </div>
        <a style="float: right;" href="/account">{{ User }}</a>
    </div>

    <div class="center">
        <div class="background_form"><br>
            <label> {% trans %}Hello{% endtrans %}, {{ username }}! </label><br><br>

            <form action="/account/me" method="POST">
                <input type="password" name="oldpassword" placeholder="{% trans %}Old password{% endtrans %}"/><br><br>

                <input type="password" name="newpassword" placeholder="{% trans %}New password{% endtrans %}"/><br><br>

                <input type="text" name="username" placeholder="{% trans %}Username{% endtrans %}"/><br><br>
                
                <div style="display: flex; justify-content: center;">
                    <div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>
                </div><br><br>

                <button type="submit" name="change_button" value="change_clicked">{% trans %}Change my password{% endtrans %}</button><br>
            </form><br>

            <div class="result"> {{ message }} </div>

            <form action="/account/me/logout" method="POST">
                <button type="submit" name="logout_button" value="logout_clicked">{% trans %}Logout{% endtrans %}</button>
            </form>
        </div>
    </div>

    <script src="/result.js"></script>
</body>
<br><br><br>
<footer>
    <p style="float: right;">&copy; 2024 Lithicsoft Organization&nbsp;</p>
    <p style="float: left;">
      &nbsp;&nbsp;&nbsp;
      <a style="color: gray;" href="https://lithicsoft.rf.gd/neutron/terms-of-use-and-policies/" target="_blank">{% trans %}Policy & Terms of Use{% endtrans %}</a> {% trans %}and{% endtrans %} <a style="color: gray;" href="https://lithicsoft.rf.gd/neutron/privacy-policy/" target="_blank">{% trans %}Privacy Policy{% endtrans %}</a>
      &nbsp;&nbsp;&nbsp;
      <a style="color: gray;" href="/contribute" target="_blank">{% trans %}Contribute{% endtrans %}</a>
      &nbsp;&nbsp;&nbsp;
      <a style="color: gray;" href="https://lithicsoft.rf.gd/neutron/" target="_blank">{% trans %}About{% endtrans %}</a>
    </p>
</footer>