<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <div>
            <img style="float: left;" src="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4" width="50" height="50">
            <a style="color: rgb(0, 0, 0); font-size: larger;" href="/">Lithicsoft Neutron</a>
        </div>
        <a style="float: right;" href="/account">{{ User }}</a>
    </div>

    <div class="center">
        <div class="background_form"><br>
            <form action="/account/register" method="POST">
                <input type="email" name="email" placeholder="Email"/><br><br>

                <input type="text" name="username" placeholder="{% trans %}Username{% endtrans %}"/><br><br>

                <input type="password" name="password" placeholder="{% trans %}Password{% endtrans %}"/><br><br>

                <button type="submit" name="register_button" value="register_clicked">{% trans %}Register{% endtrans %}</button><br><br>
            </form>

            <form action="/account/register" method="POST">
                <input type="number" name="userid" placeholder="{% trans %}User ID{% endtrans %}"/><br><br>

                <input type="number" name="confirmcode" placeholder="{% trans %}Code{% endtrans %}"/><br><br>

                <button type="submit" name="submit_button" value="submit_clicked">{% trans %}Submit{% endtrans %}</button><br><br>
            </form>

            <p>{% trans %}By creating an account, you agree to{% endtrans %} <a href="https://lithicsoft.github.io/neutron/touap/" target="_blank">{% trans %}Policy & Terms of Use{% endtrans %}</a> {% trans %}and{% endtrans %} <a href="https://lithicsoft.github.io/neutron/pp/" target="_blank">{% trans %}Privacy Policy{% endtrans %}.</a></p>
        </div><br><br>
        <div class="result"> {{ message }} </div>
    </div>

    <script src="/result.js"></script>
</body>
<br><br><br>
<footer>
    <p style="float: right;">&copy; 2024 Lithicsoft Organization&nbsp;</p>
    <p style="float: left;">
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron/touap/" target="_blank">{% trans %}Policy & Terms of Use{% endtrans %}</a> {% trans %}and{% endtrans %} <a href="https://lithicsoft.github.io/neutron/pp/" target="_blank">{% trans %}Privacy Policy{% endtrans %}</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/contribute" target="_blank">{% trans %}Contribute{% endtrans %}</a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron" target="_blank">{% trans %}About{% endtrans %}</a>
    </p>
</footer>