<head>
    <title>Neutron Search</title>
</head>
<body>
    <ul>
        <li><a href="https://lithicsoft.github.io/neutron">About</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/account">Account</a></li>
    </ul>

    <a href="/"><img src="https://i.imgur.com/lvUj8X0.png"></a>

    <form action="/account/register" method="POST">
        <label>Email: </label>
        <input type="text" name="email"/><br>

        <label>Username: </label>
        <input type="text" name="username"/><br>

        <label>Password: </label>
        <input type="password" name="password"/><br>

        <button type="submit" name="register_button" value="register_clicked">Register</button><br>
    </form>

    <form action="/account/register" method="POST">
        <label>User ID: </label>
        <input type="text" name="userid"/><br>

        <label>Confirmation code: </label>
        <input type="text" name="confirmcode"/><br>

        <button type="submit" name="submit_button" value="submit_clicked">Submit</button><br>
    </form>

    {{ message }}

</body>