<!DOCTYPE html>
<head>
  <title>Neutron Search</title>
</head>
<body>
  <ul>
      <li><a href="https://lithicsoft.github.io/neutron">About</a></li>
      <li><a href="/contribute">Contribute</a></li>
      <li><a href="/account">Account</a></li>
  </ul>

  <h1><a href="/"> Neutron Search </a></h1>

  <form action="/search" method="GET">
      <input type="text" name="q" />
      <button type="submit">🔎</button>
  </form>

  <div id="tagList">
    <button class="tag" data-type="Text">Text</button>
    <button class="tag" data-type="Image">Image</button>
    <button class="tag" data-type="video">Video</button>
  </div>

  {{ results }}

  <script src="script.js"></script>

</body>