<head>
  <title>Neutron Search</title>
  <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4">
  <link rel="stylesheet" href="/search.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script type="text/javascript">
    var Gemini = "{{ Gemini }}";
    var Wikipedia_Title = "{{ wikipedia_title }}";
    var Wikipedia_Image = "{{ wikipedia_image }}";
    var Wikipedia_Summary = "{{ wikipedia_summary }}";
    var Wikipedia_Link = "{{ wikipedia_link }}";

    document.addEventListener('DOMContentLoaded', function() {
      var url = new URL(window.location.href);

      url.searchParams.set('ai', Gemini);
      window.history.pushState({}, '', url.toString());

      url.searchParams.set('wt', Wikipedia_Title);
      window.history.pushState({}, '', url.toString());

      url.searchParams.set('wi', Wikipedia_Image);
      window.history.pushState({}, '', url.toString());

      url.searchParams.set('ws', Wikipedia_Summary);
      window.history.pushState({}, '', url.toString());

      url.searchParams.set('wl', Wikipedia_Link);
      window.history.pushState({}, '', url.toString());
    })
  </script>
</head>
<body>
  <div class="topnav">
    <div>
      <img style="float: left; margin-top: 1%;" src="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4" width="50" height="50">
      <a style="color: rgb(0, 0, 0); font-size: larger; margin-top: 1%;" href="/">Lithicsoft Neutron</a>
    </div>
    <a style="float: right; margin-top: 1%;" href="/account">{{ User }}</a>
    <form action="/search" method="GET">
      <div class="search-bar-result">
        <input style="float: left;" type="search" id="search-input" value="{{ query }}" name="q" placeholder="{% trans %}Search something...{% endtrans %}">
        <div class="icon-container">
            <input type="button" id="search-button" value="&#xF002;" style="font-family:FontAwesome;">
            <input type="button" id="voice-button" value="&#xf130;" style="font-family:FontAwesome;">
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="navbar">
    <div id="tagList">
      <input style="border-bottom: none;" id="TextTag" type="button" class="tag" value="{% trans %}Text{% endtrans %}" data-type="Text">
      <input style="border-bottom: none;" id="ImgTag" type="button" class="tag" value="{% trans %}Image{% endtrans %}" data-type="Image">
      <input style="border-bottom: none;" id="VidTag" type="button" class="tag" value="{% trans %}Video{% endtrans %}" data-type="Video">
    </div>
    <button onclick="showFilter()" class="dropButton">{% trans %}Options{% endtrans %}</button>
  </div><br>
  <div id="Dropdown" class="filter">
    <div id="languageList">
      <label for="languageList">🌐</label> 
      <select id="languageSelect" name="language">
        {% for language in languages %}
            <option value="{{ language }}" result-language="{{ language }}"> {{ language }} </option>
        {% endfor %}
      </select>     
    </div>
    <div id="timeList">
      <label for="timeList">🕒</label>
      <select id="timeSelect" name="time">
        {% for tm in time %}
            <option value="{{ tm }}" result-time="{{ tm }}"> {{ tm }} </option>
        {% endfor %}
      </select>    
    </div>
  </div>
  <br>
  
  <div class="container">
    <div class="searchresult">
      <p>{{ note }}</p>
      
      {% for row in results %}
        <tr>
            <td style="font-size:  x-small;">{{ row[1] }}</td><br>
            <td><a style="font-size: x-large;" href="{{ row[1] }}">{{ row[2] }}</a></td><br>
            <td style="font-size: x-small;">{{ row[6] }}</td><br>
        </tr><br><br>
      {% endfor %}

      <a href="javascript:changePage({{ prev_page }})" style="font-size: x-large; float: left;">&LeftArrow;</a>
      <a href="javascript:changePage({{ next_page }})" style="font-size: x-large; float: right;">&RightArrow;</a>
      <br><br>
    </div>

    <div class="extent">
      <div class="ai_display">
        <h3>Gemini</h3>
        <label>{{ Gemini }}</label>
      </div><br><br>
      <div class="wikipedia">
        <h3>{{ wikipedia_title }}</h3>
        <img class="wikipedia_image" src="{{ wikipedia_image }}"><br>
        <label>{{ wikipedia_summary }}</label> <label><a href="{{ wikipedia_link }}">Wikipedia</a></label>
      </div>
    </div>
  </div>

  <script>
    var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();

    recognition.interimResults = false;
    recognition.maxAlternatives = 1;

    var button = document.getElementById('voice-button');
    var input = document.getElementById('search-input');

    button.addEventListener('click', function() {
        recognition.start();
    });

    recognition.addEventListener('result', function(event) {
        input.value = event.results[0][0].transcript;
    });
  </script>
  <script src="/result.js"></script>
  <script src="/search/script.js"></script>
</body>
<br><br><br>
<footer>
  <p style="float: right;">&copy; 2024 Lithicsoft Organization&nbsp;</p>
  <p style="float: left;">
    &nbsp;&nbsp;&nbsp;
    <a href="https://lithicsoft.github.io/neutron/touap/" target="_blank">{% trans %}Policy & Terms of Use{% endtrans %}</a> {% trans %}and{% endtrans %} <a href="https://lithicsoft.github.io/neutron/pp/" target="_blank">{% trans %}Privacy Policy{% endtrans %}</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/contribute" target="_blank">{% trans %}Contribute{% endtrans %}</a>
    &nbsp;&nbsp;&nbsp;
    <a href="https://lithicsoft.github.io/neutron" target="_blank">{% trans %}About{% endtrans %}</a>
  </p>
</footer>