<head>
  <title>Neutron Search</title>
  <link rel="stylesheet" href="/search.css">
</head>
<body>
  <div class="topnav">
    <a href="/account">Account</a>
    <a href="/contribute">Contribute</a>
    <a href="https://lithicsoft.github.io/neutron">About</a>
  </div>
  <a href="/"><img src="https://i.imgur.com/RXi2TRm.png" class="center"></a>

  <form action="/search" method="GET">
      <input type="search" value="{{ query }}" name="q" placeholder="Try to search something!" class="center"/>
  </form>

  <div class="filter">
    <div id="tagList">
      <input id="TextTag" type="button" class="tag" value="Text" data-type="Text">
      <input id="ImgTag" type="button" class="tag" value="Image" data-type="Image">
      <input id="VidTag" type="button" class="tag" value="Video" data-type="video">
    </div><br>
    <div id="languageList">
      <select id="languageSelect" name="language">
        {% for language in languages %}
            <option value="{{ language }}" result-language="{{ language }}"> {{ language }} </option>
        {% endfor %}
      </select>     
    </div> 
  </div>

  <br><br><br>
  
  <div class="result">
    {{ note }}

    {% for row in results %}
      <tr>
          <td><a href="{{ row[0] }}">{{ row[1] }}</a></td><br>
          <td>{{ row[2] }}</td><br>
      </tr><br>
    {% endfor %}
  </div>

  <script src="/search/script.js"></script>

</body>
