<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/contribute/tab.css">
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Search</a>
        <a href="/account">Account</a>
        <a href="/contribute">Contribute</a>
        <a href="https://lithicsoft.github.io/neutron" target="_blank">About</a>
    </div>
    <div class="logo">Neutron</div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Insert')">Insert</button>
        <button class="tablinks" onclick="openTab(event, 'Change')">Change</button>
        <button class="tablinks" onclick="openTab(event, 'Remove')">Remove</button>
        <button class="tablinks" onclick="openTab(event, 'GetID')">Get ID</button>
    </div><br>
    
    <div id="Insert" class="tabcontent"><br>
        <form action="/contribute/insert" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="url" name="link" placeholder="Link"/><br><br>

            <input type="text" name="title" placeholder="Title"/><br><br>

            <input type="text" name="text" placeholder="Text"/><br><br>

            <input type="text" name="description" placeholder="Description"/><br><br>

            <input type="text" name="keywords" placeholder="Keywords"/><br><br>

            <input type="text" name="shorttext" placeholder="Shorttext"/><br><br>
            
            <button type="submit" name="add_button" value="add_clicked">➕</button><br><br>
        </form>
    </div>

    <div id="Change" class="tabcontent"><br>
        <form action="/contribute/change" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="number" name="site_id" placeholder="Site ID"/><br><br>

            <input type="url" name="link" placeholder="Link"/><br><br>

            <input type="text" name="title" placeholder="Title"/><br><br>

            <input type="text" name="text" placeholder="Text"/><br><br>

            <input type="text" name="description" placeholder="Description"/><br><br>

            <input type="text" name="keywords" placeholder="Keywords"/><br><br>

            <input type="text" name="shorttext" placeholder="Shorttext"/><br><br>
            
            <button type="submit" name="edit_button" value="edit_clicked">🖊️</button><br><br>
        </form>
    </div>

    <div id="Remove" class="tabcontent"><br>
        <form action="/contribute/remove" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="number" name="site_id" placeholder="Site ID"/><br><br>
            
            <button type="submit" name="remove_button" value="remove_clicked">❌</button><br><br>
        </form>
    </div>

    <div id="GetID" class="tabcontent"><br>
        <form action="/contribute/getid" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="url" name="link" placeholder="Link"/><br><br>

            <button type="submit" name="find_button" value="find_clicked">🔎</button><br><br>
        </form>
    </div><br>

    <div class="result"> {{ message }} </div>

    <script src="/result.js"></script>
    <script src="/contribute/tab.js"></script>
</body>