<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/contribute/tab.css">
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <a href="/account">Account</a>
        <a href="/contribute">Contribute</a>
        <a href="https://lithicsoft.github.io/neutron">About</a>
    </div>
    <a href="/"><img src="https://i.imgur.com/RXi2TRm.png" class="center"></a>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Insert')">Insert</button>
        <button class="tablinks" onclick="openTab(event, 'Change')">Change</button>
        <button class="tablinks" onclick="openTab(event, 'Remove')">Remove</button>
        <button class="tablinks" onclick="openTab(event, 'GetID')">Get ID</button>
    </div>
    
    <div id="Insert" class="tabcontent">
        <form action="/contribute/insert" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <label>Link: </label>
            <input type="url" name="link"/><br><br>

            <label>Title: </label>
            <input type="text" name="title"/><br><br>

            <label>Text: </label>
            <input type="text" name="text"/><br><br>

            <label>Description: </label>
            <input type="text" name="description"/><br><br>

            <label>Keywords: </label>
            <input type="text" name="keywords"/><br><br>

            <label>Shorttext: </label>
            <input type="text" name="shorttext"/><br><br>
            
            <button type="submit" name="add_button" value="add_clicked">➕</button><br><br>
        </form>
    </div>

    <div id="Change" class="tabcontent">
        <form action="/contribute/change" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <label>Site ID: </label>
            <input type="number" name="site_id"/><br><br>

            <label>Link: </label>
            <input type="url" name="link"/><br><br>

            <label>Title: </label>
            <input type="text" name="title"/><br><br>

            <label>Text: </label>
            <input type="text" name="text"/><br><br>

            <label>Description: </label>
            <input type="text" name="description"/><br><br>

            <label>Keywords: </label>
            <input type="text" name="keywords"/><br><br>

            <label>Shorttext: </label>
            <input type="text" name="shorttext"/><br><br>
            
            <button type="submit" name="edit_button" value="edit_clicked">🖊️</button><br><br>
        </form>
    </div>

    <div id="Remove" class="tabcontent">
        <form action="/contribute/remove" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <label>Site ID: </label>
            <input type="number" name="site_id"/><br><br>
            
            <button type="submit" name="remove_button" value="remove_clicked">❌</button><br><br>
        </form>
    </div>

    <div id="GetID" class="tabcontent">
        <form action="/contribute/getid" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <label>Link: </label>
            <input type="url" name="link"/><br><br>

            <button type="submit" name="find_button" value="find_clicked">🔎</button><br><br>
        </form>
    </div>

    {{ message }}

    <script src="/contribute/tab.js"></script>
</body>