<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/contribute/tab.css">
    <link rel="stylesheet" href="/search.css">
</head>
<body>
    <div class="topnav">
        <div>
            <img style="float: left;" src="https://avatars.githubusercontent.com/u/104414044?s=400&u=1ed30317ef805a1b447c1c7194b5fcad6c9f3888&v=4" width="50" height="50">
            <a style="color: rgb(0, 0, 0); font-size: larger;" href="/">Lithicsoft Neutron</a>
        </div>
        <a style="float: right;" href="/account">{{ User }}</a>
    </div>

    <br>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Insert')">Insert</button>
        <button class="tablinks" onclick="openTab(event, 'Change')">Change</button>
        <button class="tablinks" onclick="openTab(event, 'Remove')">Remove</button>
        <button class="tablinks" onclick="openTab(event, 'GetID')">Get ID</button>
    </div><br>
    
    <div id="Insert" class="tabcontent"><br>
        <form action="/contribute/insert" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="url" name="link" placeholder="Link"/>

            <input type="text" name="title" placeholder="Title"/><br><br>

            <input type="text" name="text" placeholder="Text"/>

            <input type="text" name="description" placeholder="Description"/><br><br>

            <input type="text" name="keywords" placeholder="Keywords"/>

            <input type="text" name="shorttext" placeholder="Shorttext"/><br><br>
            
            <button type="submit" name="add_button" value="add_clicked">➕</button><br><br>
        </form>
    </div>

    <div id="Change" class="tabcontent"><br>
        <form action="/contribute/change" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="number" name="site_id" placeholder="Site ID"/><br><br>

            <input type="url" name="link" placeholder="Link"/>

            <input type="text" name="title" placeholder="Title"/><br><br>

            <input type="text" name="text" placeholder="Text"/>

            <input type="text" name="description" placeholder="Description"/><br><br>

            <input type="text" name="keywords" placeholder="Keywords"/>

            <input type="text" name="shorttext" placeholder="Shorttext"/><br><br>
            
            <button type="submit" name="edit_button" value="edit_clicked">🖊️</button><br><br>
        </form>
    </div>

    <div id="Remove" class="tabcontent"><br>
        <form action="/contribute/remove" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="number" name="site_id" placeholder="Site ID"/><br><br>
            
            <button type="submit" name="remove_button" value="remove_clicked">❌</button><br><br>
        </form>
    </div>

    <div id="GetID" class="tabcontent"><br>
        <form action="/contribute/getid" method="POST">
            <select name="type">
                <option value="Text">Text</option>
                <option value="Image">Image</option>
                <option value="Video">Video</option>
            </select><br><br>

            <input type="url" name="link" placeholder="Link"/><br><br>

            <button type="submit" name="find_button" value="find_clicked">🔎</button><br><br>
        </form>
    </div><br>

    <div class="result"> {{ message }} </div>

    <script src="/result.js"></script>
    <script src="/contribute/tab.js"></script>
</body>
<br><br><br>
<footer>
    <p style="float: right;">&copy; 2024 Lithicsoft Organization&nbsp;</p>
    <p style="float: left;">
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron/touap/" target="_blank">Policy & Terms of Use</a> and <a href="https://lithicsoft.github.io/neutron/pp/" target="_blank">Privacy Policy</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/contribute" target="_blank">Contribute</a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://lithicsoft.github.io/neutron" target="_blank">About</a>
    </p>
</footer>