<head>
    <title>Neutron Search</title>
    <link rel="stylesheet" href="/search.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Search</a>
        <a href="/account">Account</a>
        <a href="/contribute">Contribute</a>
        <a href="https://lithicsoft.github.io/neutron">About</a>
    </div>
    <div class="logo">Neutron</div>

    <form action="/search" method="GET">
        <input type="search" name="q" placeholder="Try to search something!" class="center"/>
    </form>
</body>